! Taiga
! Author: https://github.com/JSpeedie

! Black, Lighter (+4), +8
#define black_dark   #262626
#define black_medium #303030
#define black_light  #454545
! White, Darker (-16)
#define white_light #e6d4b5
#define white_dark  #bdae94

! Red, Darker (-10)
#define red_light #ad5449
#define red_dark  #94483e
! Orange, Darker (-10)
#define orange_light #c2783c
#define orange_dark  #a86834
! Yellow, Darker (-10)
#define yellow_light #bd9255
#define yellow_dark  #a37e49
! Green, Darker (-10)
#define green_light #73855c
#define green_dark  #5d6b4a
! Blue-ish, Darker (-10)
#define blue_light #576b69
#define blue_dark  #425250
! Light Brown
#define brown_light #85673d
#define brown_dark  #6b5331
! Purple-ish brown
#define purple_light #7a525d
#define purple_dark  #61414a

*.foreground:   white_light
*.background:   black_dark
*.cursorColor:  white_light

! Comments below represent the colours that will be used if none were set.
! It is also what most programs will expect. For instance, by default,
! git will use 'color1' for outputting file paths when running 'git status'

! Black
*.color0:       black_dark
! Red
*.color1:       red_light
! Green
*.color2:       green_light
! Yellow
*.color3:       yellow_light
! Blue
*.color4:       blue_light
! Purple
*.color5:       purple_light
! Cyan
*.color6:       brown_light
! Gray
*.color7:       black_light

! Light Black
*.color8:       black_medium
! Light Red
*.color9:       red_dark
! Light Green
*.color10:      green_dark
! Light Yellow
*.color11:      yellow_dark
! Light Blue
*.color12:      blue_dark
! Light Purple
*.color13:      purple_dark
! Light Cyan
*.color14:      brown_dark
! White
*.color15:      white_light

Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

!! Urxvt configuration
URxvt.scrollBar: false
!! URxvt.font: xft:Hermit:size=10
URxvt.font: -*-tamzen-medium-*-*-*-20-*-*-*-*-*-*-*, -wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1
URxvt.internalBorder: 8
URxvt.fading: 5
!
!! Terminal colours
!! red, light red \e[0;31m \e[1;31m
!! green, light green \e[0;32m \e[1;32m
!! brown, yellow \e[0;33m \e[1;33m
!! blue, light blue \e[0;34m \e[1;34m
!! purple, light purple \e[0;35m \e[1;35m
!! cyan, light cyan \e[0;36m \e[1;36m
!! white, black \e[1;37m \e[1;30m
!! gray, light gray \e[0;30m \e[0;37m

!! Rofi configuration
rofi.width: 800
!! Centered
rofi.location: 2
roft.yoffset: 0
roft.xoffset: 0
rofi.lines: 12
!! rofi.font: Hermit 10
rofi.font: Tamzen 12
rofi.hide-scrollbar: true
rofi.color-enabled: true
!! 					bg					border				separator
rofi.color-window:	argb:BF1f1f1f,		argb:BF1f1f1f,		argb:BF1f1f1f
!! 					bg					fg					bg alt				hl bg				hl fg
rofi.color-normal:	argb:BF1f1f1f,		white_light,		argb:BF1f1f1f,		white_light,		argb:BF1f1f1f
rofi.color-active:	white_light,		argb:BF1f1f1f,		white_light,		white_light,		argb:BF1f1f1f
rofi.color-urgent:	argb:BF1f1f1f,		white_light,		argb:BF1f1f1f,		white_light,		argb:BF1f1f1f
rofi.bw: 4
rofi.separator-style: solid
!! the separator style won't work unless you're on rofi v 0.15.10 or higher
!! you can check your version with "rofi -v"
