#define colour0 #2b2e38
#define colour1 #d26464
#define colour2 #4f806e
#define colour3 #e0ae80
#define colour4 #4d7099
#define colour5 #838b73
#define colour6 #cc7e5b
#define colour7 #bfb8a2

#define colour8 #5c6178
#define colour9 #d26464
#define colour10 #4f806e
#define colour11 #e0ae80
#define colour12 #4d7099
#define colour13 #838b73
#define colour14 #cc7e5b
#define colour15 #353945

*.foreground:   colour7
*.background:   colour0
*.cursorColor:  colour7

! bg color it seems
*.color0:       colour0
! pinkish red
*.color1:       colour1
! green
*.color2:       colour2
! yellow
*.color3:       colour3
! blue
*.color4:       colour4
! purple
*.color5:       colour5
! grayish blue
*.color6:       colour6
! gray
*.color7:       colour7

! dark gray thing
*.color8:       colour8
! pinkish red
*.color9:       colour9
! green
*.color10:      colour10
! yellow
*.color11:      colour11
! blue
*.color12:      colour12
! purple
*.color13:      colour13
! grayish blue
*.color14:      colour14
! white
*.color15:      colour15

!! Urxvt configuration
URxvt.scrollBar: false
!! URxvt.font: xft:Hermit:size=10
URxvt.font: -*-tamzen-medium-*-*-*-16-*-*-*-*-*-*-*, -wuncon-siji-medium-r-normal--10-100-75-75-c-80-iso10646-1
URxvt.internalBorder: 8
URxvt.fading: 5
!
!! Terminal colours
!! red, light red \e[0;31m \e[1;31m
!! green, light green \e[0;32m \e[1;32m
!! brown, yellow \e[0;33m \e[1;33m
!! blue, light blue \e[0;34m \e[1;34m
!! purple, light purple \e[0;35m \e[1;35m
!! cyan, light cyan \e[0;36m \e[1;36m
!! white, black \e[1;37m \e[1;30m
!! gray, light gray \e[0;30m \e[0;37m

!! Rofi configuration
rofi.width: 800
!! Centered
rofi.location: 2
roft.yoffset: 0
roft.xoffset: 0
rofi.lines: 12
!! rofi.font: Hermit 10
rofi.font: Tamzen 12
rofi.hide-scrollbar: true
rofi.color-enabled: true
!! 					bg					border				separator
rofi.color-window:	argb:BF2b2e38,		argb:BF2b2e38,		argb:BF2b2e38
!! 					bg					fg					bg alt				hl bg		hl fg
rofi.color-normal:	argb:BF2b2e38,		colour7,				argb:BF2b2e38,		colour7,		argb:BF2b2e38
rofi.color-active:	colour7,			argb:BF2b2e38,			colour7,			colour7,		argb:BF2b2e38
rofi.color-urgent:	argb:BF2b2e38,		colour7,				argb:BF2b2e38,		colour7,		argb:BF2b2e38
rofi.bw: 4
rofi.separator-style: solid
!! the separator style won't work unless you're on rofi v 0.15.10 or higher
!! you can check your version with "rofi -v"
